---
interface Props {
  date: string;
  title: string;
}

const { date, title } = Astro.props;
---

<article class="content-card news-entry">
  <p class="news-date">{date}</p>
  <h2>{title}</h2>
  <p><slot /></p>
</article>
